:root {
    --cinza: #aaa;
    --vermelha: #e93d50;
    --vermelha-escura: #af303f;
    --branca: #fff;
    --luz: #ff5c77;
  }

  
  body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/originals/51/20/1d/51201dde76e237887b72e439ba68bf47.jpg');
  }
  
  h1 {
    color: var(--branca);
    margin-top: -35px;
    margin-bottom: 20px;
    font-size: 35px;
  }

p{
    color: #fff;
}
  
  .teclado {
    
    box-shadow: 6px 8px 0 6px #0000008f, 10px 10px 10px #000000a3;
    border-radius: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }
  
  .tecla {
    background-color: rgb(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0));
    border-radius: 30px;
    box-shadow: 3px 3px 0 var(--cinza);
    color: var(--vermelha);
    cursor: pointer;
    height: 150px;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    width: 150px;
  }
  
  .tecla.ativa,
  .tecla:active {
    background-color: black;
    color: var(--branca);
    outline: none;
  }
  
  .tecla img {
    margin: 7px;
    width: 90%;
    height: 90%;
    display: block;
    border-radius: 20px;
  }