
body{
    background-color: #b4afaf;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #507EA8 ;
    padding: 39px;
    position:initial;
}
.tituloprincipal{
    position: absolute;
    top: 1%;
    left:38%;
    transform: translate(-10%, 50%);
    font-size: 60px;
    color:#101C84;
    text-shadow: -1px -1px 0px #8f0909;
}
nav{
    position: absolute;/*posicionamento dos links*/
    top: 16%;
    right: 545px;
    margin-top: 12px;
}
nav li{
    display: inline;
    margin: 0 0 0 30px;/*usado para criar espaço ao redor dos elementos, fora de qualquer borda definida.*/
}
nav a{
    text-transform: uppercase;
    color: #12125c;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #b4afaf ;
    margin:0%;
    align-content: flex;
}
.tituloprincipal{
    position: absolute;
    top: 3%;
    left:38%;
    transform: translate(-10%, 50%);
    font-size: 70px;
    color:#101C84;
    text-shadow: -1px -1px 0px #8f0909;
}
.box{
    border: 2px solid rgb(124, 9, 9);
    color: rgb(239, 239, 239);
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #507EA8;
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}

fieldset{
    border: 2px solid rgb(124, 9, 9);
}

legend{
    color:#101C84;
    text-shadow: -1px -1px 0px #8f0909;
    border: 2px solid rgb(124, 9, 9);
    padding: 10px;
    text-align: center;
    background-color: #507EA8;
    border-radius: 8px;
    font-size: 22px;
    margin-left: 36%;
}
.inputBox{
    position: relative;
}
.inputUser{
    margin: 8px;
    background: none;
    border: none;/*tirar a borda*/
    border-bottom:  2px solid rgb(124, 9, 9);
    outline: none;/*tirar a linha de fora do input*/
    color:  rgb(182, 189, 225);
    font-size: 20px;
    width: 95%;/*comprimento da linha*/
    letter-spacing: 2px;/*espaço entre cada caarater no input*/
}
.labelinput{/* animação das labels - nessa parte, as labels irão
    se encaixar dentro dos inputs*/
position: absolute; /* vai ocupar apenas o elemento dela mesma */
top: 0px;
left: 7px;
pointer-events: none;/* qualquer lugar que eu clicar dentro
                do input, ele vai executar a ação */
transition: 5px;/* transição - para criaçao de efeitos de animação personalizado*/
}

/*Quando clicar no input eu quero que a label vai para cima
do input - por isso a ação é no input*/

.inputUser:focus ~ .labelinput, /*executar uma ação na nossa label*/
.inputUser:valid ~ .labelinput{ /*qdo o input tiver válido, eu queroque ele execute essa ação para alabel - a informação irá permanecerno input, senão irá ficar por cima*/
top: -20px;
font-size: 20px;
color: #12125c;
}
#data_nascimento{
    border: 3px solid rgb(169, 13, 13);
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orangered;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin-left: 26%;
    margin-bottom: 15px;
    margin-top: none;

}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}
p{
    margin: 10px;
}
footer{
    text-align: left;
    background-color: #507EA8 ;
    border: 1px solid white;
    margin-top: 800px;
}
.titulosecundario{
    position: absolute;
    font-size: 40px;
    color:#101C84;
    text-shadow: -1px -1px 0px #8f0909;
    top: 139%;
    left: 41%;
}